.k{
    background-color: khaki;
}


.b{
   background-color: black;
}
.w{
    color: aliceblue;
}
.gold{
    background-color: gold;
}
 .aqua{
    background-color: aqua;
 }
.black{
    color: black;
}